@import '../../style/variables';
.Episodes-List {
  flex-basis: 50%;
  width: 100%;
  li:nth-child(even) {
    .name{
      color:$secondary-green-color;
    }
  }
  li:nth-child(odd) {
    .name{
      color:$primary-blue-color;
    }
  }
}

@media screen and (max-width: 1024px) {
  .Episodes-List {
    flex-basis: 100%;
    margin-top: 47px;
    li:not(li:last-child) {
      border-bottom: $light-grey-color solid 1px;
    }
  }
}