.Footer {
  background-color: #464646;
  color: #CCCCCC;
  min-height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Lato,sans-serif;
  h2 {
    font-size: 16px;
    transform: translate(10.5px);
    -webkit-transform: translate(10.5px);
    -moz-transform: translate(10.5px);
    -o-transform: translate(10.5px);
    -ms-transform: translate(10.5px);
  }
}

@media screen and (max-width: 1024px) {
  .Footer {
    max-height: 49px;
  }
  h2 {
    font-size: 14px;
  }
}